@import '../../commonstyles/variables.scss';
.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
.container{
  @extend .row;
  height:700px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem;
  &>div{
    width:400px;
  }
  button{
    background: $SkyBlue;
  }
  .hr{
    border:1px solid $greyBG;
    width:100%;
    display: inline-block;
    margin:0.8em 0;
  }
}
.preview{
  display:flex;
  justify-content: center;
  img{
    width:300px;
    height: 300px;
  }
}
.cell{
  width: 100px;
  height:100px;
  img{
    width:100%;
  }
}
.right{
  @extend .column;
  line-height: 1.4em;
}

.buttonGroup{
  /*@extend .row;*/
}

.price{
  font-weight: bold;
  font-size: 1.2em;
  sub{
    font-size: 0.5em;
  }
}
