@import '../../commonstyles/variables.scss';
.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
.container{
  @extend .row;
  height:700px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem;
  &>div{
    width:400px;
  }
  button{
    background: $SkyBlue;
  }
  .hr{
    border:1px solid $greyBG;
    width:100%;
    display: inline-block;
    margin:0.8em 0;
  }
}
.preview{
  display:flex;
  justify-content: center;
  img{
    width:300px;
    height: 300px;
  }
}
.cell{
  width: 100px;
  height:100px;
  img{
    width:100%;
  }
}
.rightSide{
  @extend .column;
  //line-height: 1.4em;
  flex-shrink:0;
}

.buttonGroup{
  display: block;
  width:100%;
  clear: both;
  overflow: hidden;
  button{
    width:40%;
    text-align: center;
    line-height: 2em;
    &.left{
      float:left;
      background:$Black;
      color: $White;
    }
    &.right{
      float:right;
      background:$Red;
      color: $White;
    }
  }
}

.price{
  font-weight: bold;
  font-size: 1.2em;
  sub{
    font-size: 0.5em;
  }
}
.dots{
  overflow: hidden;
  height: 4em;
  position: relative;
  &:after{
    content: '...view more';
    position: absolute;
    right: 0;
    top: 4em;
    background: $White;
    font-size: 0.8em;
    color: $Cerulean;
  }
  p{
    margin:0;
  }
}
.dots.clicked{
  height: auto;
  &:after{
    display:none;
  }
}
.returns:after{
  content: '|';
  padding: 0 0.5em;
}

.quantity{
  @extend .row;
  border: 1px solid $greyBG;
  align-items: center;
  justify-content: space-between;
  height: 1.5em;
  padding: 0.5em;
  width:50%;
  margin:1em 0;
  input{
    width:2em;
    height:2em;
    padding:0.2em;
    border:0;
  }
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width:30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background: $greyBG;
  color:$White;
}
.shrink{
  flex-shrink: 30;
}