

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  input{
    height: 50px;
    width: 200px;
  }
}

.button{
  height: 50px;
  width: 200px;
  align-self: flex-end;
  justify-content: center;
  display: flex;
  font-size: 1.1em;
  color: white;
  background: #0e6aef;
  border: 0;
  z-index: 0;
  cursor: pointer;
  text-transform: uppercase;
}