@import '../Input/Input.scss';

.wrap{
  flex-wrap: wrap;
}



.fileContainer{
  input{
    opacity: 0;
  }

  height: 50px;
  width: 200px;
  border: 1px solid #c2c4c7;
}

button{
  height: 50px;
  width: 200px;
  align-self: flex-end;
  justify-content: center;
  display: flex;
  font-size: 1.1em;
  color: white;
  background: #0e6aef;
  border: 0;
}
