@import '../Input/Input.scss';

.wrap{
  flex-wrap: wrap;
}

.button{
  @extend .button;
  position: relative;
  span{
    z-index: 0;
    position: absolute;
    align-self: center;
  }
  .file{
    opacity: 0;
    z-index: 2;
    position: absolute;
    cursor: pointer;
  }
}




