.container{
  display: flex;
  width:30%;
  flex-direction: column;
  margin:auto;
  justify-content: space-between;
  min-height: 400px;
  font-size: 2em;
  border: 1px solid grey;
  padding: 2em;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 10%;
}